
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
_old/Codigo/script1/Imagens/3.png.import
_old/Codigo/script1/Imagens/3.png.import
_old/Codigo/script1/Imagens/4.png.import
_old/Codigo/script1/Imagens/3.png.import
